@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.buttonSearch {
    @include buttons;

    input {
        width           : 10rem;
        height          : 2.5rem;
        margin-right    : 1rem;
        padding         : 0.5rem;
        background-color: transparent;
        border          : 1px solid $white;
        border-radius   : 0.625rem;
        overflow        : hidden;

        color         : $white;
        text-transform: uppercase;
        caret-color   : $white;
    }
}