@import '../../styles/vars.scss';

.buttonSearch {
    display: flex;

    button {
        background-color: transparent;
        border          : none;
        cursor          : pointer;
    }

    input {
        width           : 10rem;
        height          : 2.5rem;
        margin-right    : 1rem;
        padding         : 0.5rem;
        background-color: transparent;
        border          : 1px solid $white;
        border-radius   : 0.625rem;
        overflow        : hidden;

        color         : $white;
        text-transform: uppercase;
        caret-color   : $white;
    }
}