@import './vars.scss';

@mixin inputStyles($border-color, $color) {

    height          : 2.5rem;
    min-height      : 2.5rem;
    border-radius   : 0.625rem;
    border          : 0.09375rem solid $border-color;
    background-color: transparent;
    padding         : 0.5rem;
    font-family     : inherit;
    font-size       : 1rem;
    color           : $color;
    resize          : vertical;
}

@mixin modalMain {
    position       : fixed;
    top            : 0;
    left           : 0;
    right          : 0;
    bottom         : 0;
    display        : flex;
    background     : rgba(0, 0, 0, 0.1);
    align-items    : center;
    justify-content: center;
}

@mixin modalContentStyle {
    width     : 58.125rem;
    height    : auto;
    max-height: 70vh;
    max-width : 80%;
    position  : relative;

    display       : flex;
    flex-direction: column;
    padding       : 2.1875rem;
    gap           : 1.5rem;
    background    : $white;
    border-radius : 1.25rem;
    box-shadow    : 0 0 40px rgba(0, 0, 0, 0.5);

    h2,
    p {
        color: $black;
    }
}