@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

$familyM: 'Montserrat',
sans-serif;
$familyJ: 'Jost',
sans-serif;

$bg-clr   : #232323;
$shad-clr : #2c2c2c;
$blk-clr  : #000000;
$grey-clr : #6f6f6f;
$wt-clr   : #ffffff;
$lite-clr : #f6e6cf;
$or-clr   : #f88b50;
$orbr-clr : #b6400e;
$yel-clr  : #fea501;
$yelbr-clr: #aa8946;
$ltbr-clr : #a3755b;
$br-clr   : #552706;