@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

$familyM: 'Montserrat',
sans-serif;
$familyJ: 'Jost',
sans-serif;

$bg          : #232323;
$shadow      : #2c2c2c;
$black       : #000000;
$grey        : #6f6f6f;
$white       : #ffffff;
$light       : #f6e6cf;
$orange      : #f88b50;
$orangeBrown : #b6400e;
$yellow      : #fea501;
$yellowDark  : #aa8946;
$brownLight  : #a3755b;
$brown       : #552706;