@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.buttonCreate {
    display: flex;

    button {
        background-color: transparent;
        border          : none;
        cursor          : pointer;
    }
}