@import '../../styles/vars.scss';

.header {
    height       : 14vh;
    width        : 100vw;
    display      : flex;
    margin       : 0 auto;
    padding      : 3vh 5vw;
    align-items  : center;
    border-bottom: 1px solid $white;

    .info {
        margin-left: 2rem;
    }

    .navigate {
        width      : 10rem;
        display    : flex;
        gap        : 1rem;
        margin-left: auto;
    }
}